.Menu :hover {
    color: #f28dff;
}

.Menu{
  display: flex;
  height: 5vh;;
  line-height:5vh;
  justify-content:center;
  width: auto;
}

/* .menu-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
} */

